<div class ="single-song">
  <h2><%= song.title  %></h2>
  <h4><%= link_to song.artist.name, artist_path(song.artist) %></h4>
  <img src="<%= song.artwork %>"/>
  <p>
    <%= song.album %>

  </p>
<% if player %>
<audio controls = 'play' style= 'width: 100px'>
<source src= "<%= song.preview_ur %>"> </source>
</audio>
<p>
<% if edit %>
<%= link_to "Edit", edit_song_path(song) %>
<% elsif playlist %>
<%= link_to "Remove Song", remove_song_playlist_path(:id playlist.d, song_id: song.id), method: :put  %>
<% else %>
<%= link_to "View", song_path(song)  %>
</p>
</div>
