<div class="student">
  <h1><%= @student["fname"] + " " + @student["lname"] %></h1>
  <img src="<%= @student["image"] %>" alt="An image of <%= @student["fname"] + " " + @student["lname"] %>">
  <h2>House: <%= @house["name"] %></h2>
</div>
<br>

<a href="/students/<%= @student["id"] %>/edit">Edit Student</a>

<form method="post" action="/students/<%= @student["id"] %>">
  <input type="hidden" name="_method" value="delete">
  <button type="submit">Delete Student</button>
</form>
