<<<<<<< HEAD
<%= form_for @user, :html => {:class => "container"} do
  |f| %>
<% if @user.errors.any?  %>
<div class =


<%= form_for @user do |f| %>
<%= f.label :username, "Username:"%>
<%= f.text_field :username %>
<%= f.label :email, "Email:" %>
<%= f.text_field :email %>
<%= f.label :password, "Password:"%>
<%= f.password_field :password %>
<%= f.label :password_confirmation, "Confirm Passowrd" %>
<%= f.submit %>
=======
<%= form_for @user, :html => {:class => "container"} do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form">
    <%= f.label :username, "Username: "%>
    <%= f.text_field :username%>
    <%= f.label :email, "Email: "%>
    <%= f.text_field :email %>
    <%= f.label :password, "Password: "%>
    <%= f.password_field :password%>
    <%= f.label :password_confirmation, "Confirm Password"%>
    <%= f.password_field :password_confirmation%>
    <%=  f.submit%>
  </div>
<% end %>
>>>>>>> ff38cf10060af6a8de225975401fe987cd1f0e9d
