<!DOCTYPE html>
<html>
<head>
  <title>TunrApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if logged_in %>
    <div id="logout">
      <%= button_to 'Logout', logout_path, :method => :delete %>
    </div>
  <% end %>
  <img src="http://icons.iconarchive.com/icons/bad-blood/yolks/128/enjoying-mah-playlist-icon.png" class="logo">
<%= yield %>
</body>
</html>
